body{

background:url('http://i1353.photobucket.com/albums/q674/vjwalt26/spiritanimal2_zps7x94qkjr.jpg')no-repeat center;
font-family: 'Shadows Into Light',cursive;
color:#CC6633;
}
#NewNames {
	font-family:'Shadows Into Light',cursive;
	color:#CC6633;

}